* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(205, 197, 197, 0.589);
}
.task-title {
    text-decoration: none;
    color: black
    
}
.task-title:hover {
    text-decoration: underline;
}

/* edit page */
.task-container {
    padding: 30px;
    border-radius: 8px;  
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    width: 30%;
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

/* Label Styling */
.form-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}

table th,tr,td{
    border: 1px solid black;
    border-color: rgb(128, 128, 136);
}
.add-task a {
    color: black;
}
.add-task a:hover {
    color: blue;
}

/* styling signup page and login page*/
.credentials {
    padding: 20px;
    border-radius: 8px;  
    box-shadow: 0 12px 24px rgba(21, 15, 15, 0.2);
    background-color: #939798; 
    display: flex;
    justify-content: center;
    width: 30%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    height: fit-content;
}