{% extends "taskmanager/base.html" %}
{% load widget_tweaks %}
{% block title %}Edit{% endblock title %}
{% block content %}
<h4 class='text-center mt-3'>Update Your Task</h4>
    <div class="task-container  mt-4 d-flex justify-content-center shadow-lg border ">
        
        <form method='post' class='forms'>
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label}}" class='form-label'>Title</label>
                {{ form.title|attr:"class:form-control" }}
            </div>

            <div class="form-group">
                <label for="{{ form.description.id_for_label}}" class='form-label'>Description</label>
                {{ form.description|attr:"class:form-control" }}
            </div> 
               
            <div class="form-group">
                <label for="{{ form.completed.id_for_label}}" class='form-label'>Completed</label>
                {{ form.completed}}
            </div>            
            <button type='submit' class='btn btn-primary ms-3'>Save</button>
            <a href="{% url "dashboard" %}" class='btn btn-secondary'>Cancel</a>
        </form>
    </div>
{% endblock content %}