{% extends "taskmanager/base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
    
    <div class="container-fluid ">
        <!-- Hero Section -->
        <div class="row  text-center py-3 mt-5">
            <div class="col-md-12">
                <h1 class="display-5">Welcome to Your Todo App!</h1>
                <p class="lead">Efficiently manage your tasks and stay on top of your goals.</p>
                <a href="{% url 'signup' %}" class="btn btn-lg btn-success mt-4">Get Started</a>
            </div>
        </div>
          
      
{% endblock content %}
