{% extends "taskmanager/base.html" %}
{% block title %}Search{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% if tasks %}
        <h5>You searched for '{{ query }}'</h5>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" >SN</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'task_body' task.pk %}" class="text-decoration-none text-dark   ">{{ task.title }}</a></td>
                            {% if task.completed %}
                                <td><span class="badge bg-success">Completed</span></td>
                            {% else %}
                                <td><span class="badge bg-warning text-dark">Pending</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
{% endblock content %}