{% extends "taskmanager/base.html" %}
{% block title %}{{tasks.title}}{% endblock title %}
{% block content %}

        <div class="container">
            <div class="task-details">
                <h4>Task Name:{{ task.title}}</h4>
                
                <p><strong>Details:</strong> {{ task.description}}</p>
                <p><strong>Status:</strong> 
                    {% if task.completed %}
                        <span class="completed">Completed</span>
                    {% else %}
                        <span class="pending">Pending</span>
                    {% endif %}
                </p>
                <a href="{% url 'edit_task' task.pk %}">Edit</a>
                <a href="{% url 'delete_task' task.pk %}">Delete</a>
            </div>
        </div>

{% endblock content %}

